@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --border: 0 0% 80%;
    /* 214.3 31.8% 91.4%; */
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-[#fbfbfb] text-foreground font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins;
  }

}

.app-layout {
  display: grid;
  grid-template-areas:
    "nav nav"
    "sidebar main";
  grid-template-rows: 55px 1fr;
  grid-template-columns: 260px 1fr;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-layout .app-layout__navbar {
  grid-area: nav;
}

.app-layout .app-layout__sidebar {
  grid-area: sidebar;
}

.app-layout .app-layout__main {
  grid-area: main;
  overflow-y: auto;
  width: 100%;
  height: 100%
}

/* custom scrollbar */
.custom-scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.custom-scrollbar:hover {
  scrollbar-color: #00000033 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: gray;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #E5EBEE;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #E5EBEE;
  border-radius: 10px;
}